{{ define "main" -}}
<h1>{{ .Title }}</h1>

{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}
<table class="toc">
  <tbody>
  {{ range $pages }}
  <tr>
    <td class="title">
      <span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </span>
    </td>
    <td class="date">
      <span>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
      </span>
    </td>
  </tr>
  {{- end }}
  </tbody>
</table>

<p>
  You can subscribe to updates via <a href="https://feeds.feedburner.com/{{ .Site.Params.feedburnerShortname }}">RSS</a> or <a href="https://feedburner.google.com/fb/a/mailverify?uri={{ .Site.Params.feedburnerShortname }}">E-Mail</a>.
</p>

{{- end }}
